{% extends 'base.html.twig' %}

{% block body %}
	<html lang="en">
		<head>
			<title>Connexion</title>
			<meta charset="UTF-8">
			<meta
			name="viewport" content="width=device-width, initial-scale=1">
			<!--===============================================================================================-->
			<link
			rel="icon" type="image/png" href="/inscription/images/icons/favicon.png"/>
			<!--===============================================================================================-->
			<link
			rel="stylesheet" type="text/css" href="/inscription/vendor/bootstrap/css/bootstrap.min.css">
			<!--===============================================================================================-->
			<link
			rel="stylesheet" type="text/css" href="/inscription/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
			<!--===============================================================================================-->
			<link
			rel="stylesheet" type="text/css" href="/inscription/vendor/animate/animate.css">
			<!--===============================================================================================-->
			<link
			rel="stylesheet" type="text/css" href="/inscription/vendor/css-hamburgers/hamburgers.min.css">
			<!--===============================================================================================-->
			<link
			rel="stylesheet" type="text/css" href="/inscription/vendor/select2/select2.min.css">
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/inscription/css/util.css">
			<link
			rel="stylesheet" type="text/css" href="/inscription/css/main.css">
		<!--===============================================================================================-->
		</head>
		<body>

			<div class="limiter">
				<div class="container-login100">
					<div class="wrap-login100">
						<div class="login100-form">
							<span class="login100-form-title">
								Inscription<br/><br/>
								<a href="index.html"><img src="inscription/images/logo.png" alt="retour" width="50%"></a>
							</span>
                              <div>
                                {{ form(form)}}
							  </div>
						</div>
					</div>

				</div>

				<script>
					$('.js-tilt').tilt({scale: 1.1})
				</script>
			</div>
		</body>
	</html>
{% endblock %}
