{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
<html lang="en">
<head>
	<title>Connexion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/profil/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/css/util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/css/main.css">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/produit/css/bootstrap.css" rel="stylesheet">
    <link href="/produit/css/fontawesome-all.css" rel="stylesheet">
    <link href="/produit/css/swiper.css" rel="stylesheet">
    <link href="/produit/css/magnific-popup.css" rel="stylesheet">
    <link href="/produit/css/styles.css" rel="stylesheet">
</head>
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="{{path('home')}}"><img src="/home/images/logo.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="{{ path('home')}}">ACCUEIL</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link page-scroll"  href="{{ path('profil')}}">MON PROFIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll"  href="{{ path('product_index')}}">LES PRODUITS</a>
                </li>
                <div class="mb-3">
                    <li class="nav-item">
                        <a class="nav-link page-scroll"  href="{{ path('app_logout') }}">DECONNEXION</a>
                    </li>
                </div>
            {% endif %}
        </ul>
        <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                    </a>
                </span>
            </span>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->
<div class="container-login100">
    <div class="wrap-login100">
        <div class="col-12">
        <h3 class="text-center">Modifier vos information personnelles</h3>
        <hr />
      </div>
        <div class="col-12">
            <div class="row">
                <div class="col mb-1">
                    <div class="card-content">
                        {{ form_start(form) }}
                        {% for item in form %}
                            {{ form_row(item,{'attr':{'placeholder':""}} ) }}
                        {% endfor %}
                        <div class="text-center pt-3">
                            <button type="submit" class="btn btn-outline-success">
                                Modification
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}