{% extends 'base.html.twig' %}


{% block body %}
    <!DOCTYPE html>
<html lang="en">
<head>
	<title>Connexion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/profil/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/css/util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/css/main.css">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/produit/css/bootstrap.css" rel="stylesheet">
    <link href="/produit/css/fontawesome-all.css" rel="stylesheet">
    <link href="/produit/css/swiper.css" rel="stylesheet">
    <link href="/produit/css/magnific-popup.css" rel="stylesheet">
    <link href="/produit/css/styles.css" rel="stylesheet">
</head>
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="{{ path('home')}}"><img src="/home/images/logo.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="{{ path('home')}}">ACCUEIL</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link page-scroll"  href="{{ path('profil')}}">MON PROFIL</a>
                </li>
                <div class="mb-3">
                    <li class="nav-item">
                        <a class="nav-link page-scroll"  href="{{ path('app_logout') }}">DECONNEXION</a>
                    </li>
                </div>
            {% endif %}
        </ul>
        <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                    </a>
                </span>
            </span>
    </div>
</nav> <!-- end of navbar -->
{# Information personnelle #}
<div class="container-login100">
    <div class="wrap-login100">
        <div class="row justify-content-center">
            <div class="col">
                <h3>INFORMATION PERSONELLE
                    <a class="btn" href="{{path('edit_profil')}}"><img src="https://img.icons8.com/officel/40/000000/edit.png"></a>
                </h3>
            </div>
        </div>
      
            <div class="col-12">
                <div class="row">
                    <div class="col mb-1">
                        <h5>
                            <strong>Nom :</strong>
                        </h5>
                        {{user.lastname}}
                    </div>
                    <div class="col mb-1">
                        <h5>
                            <strong>Prénom :</strong>
                        </h5>
                        {{user.firstname}}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <h5>
                            <strong>E-mail :</strong>
                        </h5>
                        {{user.email}}
                    </div>

                    <div class="col mb-1 ">
                        <h5>
                            <strong>Adresse 1 :</strong>
                        </h5>
                        {{ user.addressline1 }}
                    </div>
                </div>
                <div class="row">

                    <div class="col mb-3 ">
                        <h5>
                            <strong>Département :</strong>
                        </h5>
                        {{ user.region }}
                    </div>
                    <div class="col mb-3 ">
                        <h5>
                            <strong>Adresse 2 :</strong>
                        </h5>
                        {{ user.addressline2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3 ">
                        <h5>
                            <strong>Ville :</strong>
                        </h5>
                        {{user.city}}
                    </div>
                </div>
            </div>
            
            
                <div class="col-12">
                    <h3>Mes Produits
                        <a class="btn bg-primary text-white " href="{{path('add_produit_producer')}}">Ajout</a>
                    </h3>
                </div>
          

        <div class="row">
            {% for products in product %}
                <div class="col  mt-5 ">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top"src="{{ asset('uploads/pictureProduct' ~ '/' ~ products.image) }}" alt="Card image cap">
                        <div class="card-body">
                            <div class="col">
                                    <h6> Nom  :
                                        {{ products.name | lower }}</h6>
                                    <h6> Unité :
                                        {{ products.unit | lower }}</h6>
                                </div>
                                <div class="col">
                                    <h6>Quantité :
                                        {{ products.quantity | lower }}</h6>
                                </div>
                                <div class="col">
                                    <h6>Prix :
                                        {{ products.price }}</h6>
                                </div>
                          
                            <div class="col pb-2 text-center mt-5">
                                <a class="btn btn-danger" href="{{path('delete_produit',{'id' : products.id })}}">Supprimer</a>
                                <a class="btn btn-primary text-white" href="{{path('edit_produit',{'id' : products.id })}}">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}